.mu-color-picker input[readonly] {
  background: #fff;
}
.mu-dropdown-panel[popup-style="color-picker"] {
  overflow: hidden;
}
.mu-dropdown-panel .a-color-picker {
  border-radius: 0;
  box-shadow: none;
}
.mu-dropdown-panel canvas {
  border-radius: 0;
}
.mu-color-picker-footer {
  padding: 4px;
  text-align: center;
  cursor: pointer;
}
.mu-color-picker-indicator {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 10px;
  padding: 0 10px;
  transform: translateY(-50%);
}